@media (max-width: 1279px) {

  .header {
    padding: 33px 0 0 0;
  }

  .header__nav {
    padding: 20px 0;
    border-top: 1px solid #e6e8ec;
    border-bottom: 1px solid #e6e8ec;
  }

  .header__conteiner {
    position: relative;
    flex-direction: column;
    gap: 0;
  }

  .header__logo {
    align-self: flex-start;
    margin-bottom: 29px;
  }

  .nav__list {
    gap: 105px;
  }

  .header__btn {
    position: absolute;
    right: 100px;
    top: -5px;
  }

  .radio__conteiner {
    background-position: 87% 46%;
    background-size: 25%;
  }

  .radio__content-text {
    padding: 93px 0 90px 0;
    max-width: 65%;
  }

  .radio__text {
    margin-bottom: 21px;
  }

  .broadcast {
    padding: 107px 0 92px 0;
  }

  .broadcast__content-box {
    flex-basis: 43%;
    background-position: left 83.5%;
    background-size: 65px 10%;
  }

  .broadcast__content-card {
    flex-basis: 82%;
  }

  .broadcast__item {
    flex: 1 1 47%;
    max-width: 50%;
  }

  .broadcast__foto img {
    width: 100%;
  }

  .guests {
    padding: 94px 0 88px 0;
  }

  .guests__text-bottom {
    margin-bottom: 50px;
  }

  .guests__list {
    gap: 45px;
  }

  .guests__box-text {
    flex-basis: 83%;
  }

  .guests__text {
    max-width: 100%;
  }

  .playlist {
    padding: 108px 0 94px 0;
  }

  .playlist__conteiner {
    flex-direction: column;
    gap: 31px;
  }

  .playlist__list {
    justify-content: flex-start;
    gap: 28px;
  }

  .playlist__item {
    flex-direction: row;
    max-width: 33%;
    flex: 1 0 30%;
  }

  .playlist__foto {
    max-width: 44%;
  }

  .playlist__item-foto1,
  .playlist__item-foto2 {
    background-position: top left;
  }

  .playlist__content {
    padding: 40px 0 0 10px;
  }

  .product {
    padding: 95px 0 95px 0;
  }

  .product__content-foto {
    flex-basis: 55%;
    padding-top: 117px;
  }

  .product__foto img {
    margin-left: 0px;
    max-height: 69%;
  }

  .product__content-text {
    flex-basis: 51%;
  }

  .product__title {
    background-position: 0px bottom;
  }

  .hero {
    padding: 94px 0 95px 0;
  }

  .hero__content-text {
    background-image: url(../img/hero_line_2.png);
    background-size: 31%;
  }

  .hero__box {
    max-width: 65%;
  }

  .hero__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero__item {
    max-width: 50%;
  }

  .hero__texta {
    min-width: 100%;
  }

  .hero__input {
    min-width: 48%;
  }

  .footer {
    background-position: -18px 88%;
  }

  .footer__box-left {
    flex-basis: 110%;
  }

  .footer__logo {
    margin-bottom: 14px;
  }

  .footer__content-bottom {
    padding: 11px 0 9px 0;
  }
}

@media (max-width: 1023px) {

  .conteiner {
    padding: 0 114px;
  }

  .header__btn {
    right: 115px;
  }

  .nav__list {
    gap: 54px;
  }

  .nav__link {
    font-size: 16px;
    line-height: 16px;
  }

  .radio__conteiner {
    background-image: none;
  }

  .radio__content-text {
    padding: 92px 0 90px 0;
    max-width: 100%;
  }

  .radio__tetle {
    margin-bottom: 14px;
  }

  .radio__text {
    margin-bottom: 21px;
  }

  .podcast {
    padding: 95px 0;
  }

  .podcast__title {
    margin-bottom: 29px;
  }

  .podcast__item {
    flex: 1 0 100%;
    max-width: 100%;
  }

  .broadcast {
    position: relative;
    padding: 107px 0 157px 0;
  }

  .broadcast__conteiner {
    padding-bottom: 60px;
    border-bottom: 1px solid #E6E8EC;
  }

  .broadcast__content-info {
    flex-direction: column;
  }

  .broadcast__content-box {
    margin-top: -13px;
    margin-bottom: 121px;
    background-image: none;
  }

  .broadcast__list {
    column-gap: 30px;
    row-gap: 29px;
  }

  .broadcast__content-iner {
    position: absolute;
    bottom: 30px;
    left: 200px;
    padding-left: 100px;
    max-width: 48%;
    background-image: url(../img/broadcast_mic.png);
    background-repeat: no-repeat;
    background-position: 4% 97.5%;
    background-size: 70px 96px;
  }

  .broadcast__btn {
    margin-bottom: 8px;
    padding: 10px 54px;
  }

  .guests {
    padding: 95px 0 90px 0;
  }

  .guests__text-bottom {
    margin-bottom: 49px;
    max-width: 100%;
  }

  .guests__list {
    gap: 44px;
  }

  .guests__item {
    flex-direction: column;
    gap: 26px;
  }

  .guests__heading {
    margin-bottom: 7px;
  }

  .guests__text {
    max-width: 67%;
    margin-bottom: 29px;
  }

  .guests__box-text {
    min-height: 276px;
    padding-bottom: 6px;
  }

  .playlist {
    padding: 108px 0 111px 0;
  }

  .playlist__list {
    column-gap: 27px;
    row-gap: 28px;
  }

  .playlist__item {
    max-width: 50%;
    flex: 1 0 47%;
  }

  .product {
    padding: 54px 0 94px 0;
  }

  .product__conteiner {
    flex-direction: column;
    gap: 45px;
  }

  .product__content-foto {
    padding-top: 0;
  }

  .product__title {
    max-width: 70%;
    margin-bottom: 18px;
    background-image: none;
  }

  .product__content-text {
    background-image: url(../img/produkt_line3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 21%;
  }

  .product__btn {
    padding: 24px 12px 22px 13px;
  }

  .hero {
    padding: 95px 0 91px 0;
  }

  .hero__content-text {
    position: relative;
    padding-bottom: 142px;
    background-image: none;
  }

  .hero__content-text::before {
    position: absolute;
    left: -114px;
    bottom: 0px;
    content: "";
    width: 121%;
    height: 114px;
    background-image: url(../img/hero_line_3.png);
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  .hero__box {
    max-width: 100%;
  }

  .hero__list {
    gap: 30px;
  }

  .hero__item {
    max-width: 255px;
  }

  .hero__form-box {
    flex-direction: column;
    margin-bottom: 31px;
  }

  .footer {
    padding-top: 94px;
    background-image: url(../img/footer_line3.png);
    background-position: center 93%;
  }

  .footer__content-top {
    flex-direction: column;
    gap: 72px;
    padding-bottom: 90px;
  }

  .footer__box-left {
    align-items: center;
  }

  .footer__list-social {
    gap: 19px;
  }

  .footer__link-social svg {
    width: 39px;
    height: 37px;
  }

  .footer__list {
    justify-content: flex-start;
    row-gap: 30px;
    column-gap: 141px;
  }


}

@media (max-width: 767px) {
  .conteiner {
    padding: 0 32px;
  }

  .header {
    padding-top: 20px;
  }

  .header__logo {
    margin-bottom: 17px;
  }

  .hero__content-text::before {
    background-image: none;
  }

  .header__nav {
    padding: 16px 0;
  }

  .nav__list {
    gap: 24px;
  }

  .header__btn {
    right: 32px;
  }

  .radio__content-text {
    padding: 41px 0 40px 0;
  }

  .radio__tetle {
    margin-bottom: 7px;
    font-size: 32px;
    line-height: 32px;
  }

  .radio__tetle-span {
    font-size: 32px;
    line-height: 32px;
  }

  .radio__text {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 21px;
  }

  .radio__btn {
    padding: 17px 45px;
    max-width: 200px;
    font-size: 16px;
    line-height: 16px;
  }

  .title {
    font-size: 24px;
    line-height: 24px;
  }

  .podcast {
    padding: 55px 0;
  }

  .podcast__title {
    margin-bottom: 19px;
  }

  .podcast__content-info {
    padding: 26px 0 31px 16px;
  }

  .podcast__heading {
    font-size: 16px;
    line-height: 16px;
  }

  .podcast__text {
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast {
    padding: 67px 0 189px 0;
  }

  .broadcast__conteiner {
    padding-bottom: 30px;
  }

  .broadcast__list {
    row-gap: 30px;
    column-gap: 28px;
  }

  .broadcast__item {
    flex: 1 1 44%;
  }

  .broadcast__content {
    display: flex;
    flex-direction: column;
  }

  .broadcast__heading {
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast__text-content {
    flex: 1;
    font-size: 9px;
    line-height: 9px;
  }

  .broadcast__link {
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast__content-box {
    margin-bottom: 28px;
  }

  .broadcast__content-iner {
    display: flex;
    flex-direction: column-reverse;
    left: 6px;
    bottom: 55px;
    padding-left: 94px;
    max-width: 97%;
    min-height: 105px;
    background-position: 3% 92%;
    background-size: 77px 105px;
  }

  .broadcast__text {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 21px;
  }

  .broadcast__btn {
    margin-bottom: 0px;
    width: 51%;
    padding: 7px 28px;
  }

  .guests {
    padding: 55px 0 49px 0;
  }

  .guests__title {
    margin-bottom: 11px;
  }

  .guests__text-top {
    margin-bottom: 1px;
    font-size: 14px;
    line-height: 21px;
  }

  .guests__text-bottom {
    margin-bottom: 27px;
    font-size: 14px;
    line-height: 22px;
  }

  .guests__list {
    gap: 22px;
  }

  .guests__item {
    gap: 8px;
  }

  .guests__text {
    margin-bottom: 26px;
    max-width: 100%;
  }

  .guests__btn {
    padding: 10px 13px 8px 13px;
  }

  .playlist {
    padding: 68px 0 56px 0;
  }

  .playlist__conteiner {
    gap: 31px;
  }

  .playlist__text {
    font-size: 12px;
    line-height: 16px;
  }

  .playlist__aftor {
    font-size: 12px;
  }

  .playlist__age {
    line-height: 17px;
  }

  .playlist__list {
    gap: 30px;
  }

  .playlist__item {
    flex-direction: column;
    max-width: 44%;
  }

  .playlist__foto {
    max-width: 100%;
  }

  .playlist__item-foto1,
  .playlist__item-foto2 {
    background-position: top right;
  }

  .playlist__content {
    padding: 11px 0 10px 9px;
  }

  .playlist__heading {
    font-size: 12px;
    line-height: 12px;
  }

  .playlist__text-card {
    font-size: 9px;
    line-height: 9px;
  }

  .product {
    padding: 54px 0;
  }

  .product__conteiner {
    gap: 26px;
  }

  .product__content-text {
    background-image: url(../img/produkt_line4.png);
    background-position: 0% 11%;
  }

  .product__title {
    margin-bottom: 11px;
    max-width: 100%;
  }

  .product__text {
    font-size: 14px;
    line-height: 22px;
  }

  .product__text-bottom {
    margin-bottom: 13px;
  }

  .product__text-price {
    margin-bottom: 18px;
    font-size: 24px;
    line-height: 24px;
  }

  .product__btn {
    padding: 12px 15px 14px 16px;
    font-size: 16px;
    line-height: 16px;
  }

  .hero {
    padding: 55px 0 51px 0;
    background-image: none;
  }

  .hero__content-text {
    padding-bottom: 0;
  }

  .hero__title {
    margin-bottom: 11px;
  }

  .hero__text-top {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 21px;
  }

  .hero__text-bottom {
    font-size: 14px;
    line-height: 22px;
  }

  .hero__list {
    row-gap: 30px;
    margin-bottom: 31px;
  }

  .hero__item {
    max-width: 45%;
  }

  .hero__foto img {
    margin-bottom: 7px;
  }

  .hero__card {
    padding-right: 4px;
  }

  .hero__heading {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 18px;
  }

  .hero__text {
    font-size: 12px;
    line-height: 16px;
  }

  .hero__form-wink {
    font-size: 16px;
    line-height: 16px;
    border-radius: 20px;
  }

  .hero__texta {
    padding: 16px 0 100px 21px;
    margin-bottom: 25px;
  }

  .hero__form-box {
    margin-bottom: 30px;
  }

  .hero__input {
    padding: 17px 0 15px 23px;
    border-radius: 40px;
  }

  .hero__btn {
    margin-bottom: 17px;
    padding: 17px 44px 17px 45px;
    font-size: 16px;
    line-height: 16px;
  }

  .hero__descr {
    font-size: 9px;
    line-height: 9px;
  }

  .footer {
    padding-top: 54px;
    background-image: url(../img/footer_line4.png);
  }

  .footer__conteiner {
    padding: 0;
  }

  .footer__content-top {
    gap: 48px;
    padding-bottom: 20px;
  }

  .footer__nav {
    padding: 30px 32px 33px 32px;
    background-color: #121723;
  }

  .footer__item {
    font-size: 12px;
    line-height: 12px;
  }

  .footer__list {
    row-gap: 23px;
    column-gap: 143px;
  }

  .footer__text {
    font-size: 12px;
    line-height: 12px;
  }

}

@media (max-width: 380px) {

  .podcast__item{
    flex-direction: column;
    max-height: 256px;
    max-width: 256px;
  }

  .podcast__content-foto {
    height: 72px;
  }

  .podcast__data {
    bottom: 56px;
  }

  .broadcast__list {
    row-gap: 29px;
    column-gap: 30px;
  }

  .broadcast__item {
    min-height: 150px;
  }

  .broadcast__foto {
    margin-bottom: 4px;
  }

  .broadcast__content {
    padding: 0 4px 12px 9px;
  }

  .footer__list {
    column-gap: 58px;
  }
}

